* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg');
}

.container {
  width: 1200px;
  margin: 50px auto;
}

/* Header */
header #logo {
  width: 100px;
  margin-right: 10px;
  vertical-align: middle;
}

header #title {
  display: inline-block;
  color: rgba(255, 255, 255, 0.9);
  font-weight: normal;
  height: 73px;
  line-height: 73px;
}

header hr {
  margin: 20px 0 10px;
}

/* Section Search & Unread */
section #search input {
  padding: 2px;
}

section #search button {
  padding: 2px 8px;
  border-radius: 4px;
}

section #unread {
  margin: 15px 0 20px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 35px;
}

#unread > span {
  background-color: orange;
  border-radius: 50%;
  padding: 10px;
  font-size: 30px;
}

/* Main */
main hr {
  margin: 10px 0 10px;
}

main .row {
  background-color: rgba(208, 208, 208, 08);
  height: 30px;
  border: 1px solid black;
}

.row input[type="checkbox"] {
  margin-left: 10px;
}

.row > span {
    font-size: 18px;
}

.row .star, .mail_object {
  font-weight: bold;
}

.row .mail_text {
  color: grey;
}

.row.white {
  background-color: rgb(255, 255, 255);
}

/* Footer */
footer > p {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-style: italic;
  font-weight: bold;
  margin-top: 15px;
}

footer > p > span {
  font-style: normal;
  font-size: 25px;
}
